@import '../../../styles/variables.scss';
@import '../../../styles/common.scss';

.SignupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 395px;
  height: 570px;
  border: 1px solid black;
  border-radius: 6px;

  .logoSection {
    display: flex;
    flex-direction: column;
    padding: 32px;

    .initialName {
      font-size: 50px;
      font-family: 'Bebas Neue', cursive;
      color: $heightColor;
    }

    .pediaLogo {
      margin-left: 10px;
      font-family: 'Bebas Neue', cursive;
      font-size: 50px;
      font-weight: 10px;
    }

    .LogoRegister {
      display: flex;
      justify-content: center;
      margin-top: 29px;
      padding-top: 10px;
      font-size: 17px;
      font-weight: 900;
    }
  }

  .enterContainer {
    display: flex;
    flex-direction: column;
    width: 335px;

    input {
      padding: 10px 10px;
    }

    .nameBox {
      width: 335px;
      height: 44px;
      margin-bottom: 10px;
      padding: 15px 15px;
      border: none;
      background-color: #f5f5f5;
      border-radius: 6px;
    }

    .emailBox {
      width: 335px;
      height: 44px;
      margin-bottom: 10px;
      padding: 0 12px;
      background-color: #f5f5f5;
      border: none;
      border-radius: 6px;
    }

    .passwordBox {
      width: 335px;
      height: 44px;
      margin-bottom: 10px;
      padding: 0 12px;
      background-color: #f5f5f5;
      border: none;
      border-radius: 6px;
    }

    .buttonBox {
      width: 335px;
      height: 44px;
      background-color: #ff2f6e;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 15px;
      font-weight: 900;
    }
  }

  .forgetContainer {
    font-size: 16px;
    margin-top: 20px;

    .signupText {
      font-weight: 500;
    }
  }

  .divideLine {
    width: 335px;
    margin-top: 20px;
  }

  .socialLogin {
    width: 335px;
    height: 44px;
    margin-top: 40px;
    background-color: #3c5aa0;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 900;
  }
}
