@import '../../../styles/variables.scss';
.detailFeedContainer {
  .movieInfosContainer {
    display: flex;
    justify-content: center;

    .movieInfos {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      padding-right: 0;
      margin-right: 20px;

      .userCommentBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        padding: 15px 20px 15px;
        background-color: white;

        .picture {
          width: 50px;
          height: 50px;
        }

        .deleteButton {
          cursor: pointer;
        }
      }

      .userCommentBoxOff {
        display: none;
      }

      .infoCommentOff {
        display: none;
      }

      .infoComment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px 20px;
        margin-top: 30px;
        border: 1px solid rgb(227, 227, 227);
        border-radius: 5px;
        background-color: white;

        .infoText {
          font-size: 17px;
        }

        .infoCommentButton {
          width: 240px;
          padding: 5px 0;
          border: 1px solid rgb(210, 210, 210);
          border-radius: 5px;
          background-color: white;
          font-size: 20px;
          cursor: pointer;
        }
      }

      .mainInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        padding-top: 20px;
        border: 1px solid rgb(227, 227, 227);
        border-radius: 3px;
        background-color: white;

        .title {
          font-size: 20px;
        }

        .infoContour {
          height: 1px;
          width: 92%;
          background-color: $contourColor;
        }

        .infoHeader {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 0 30px;
        }

        .movieTitle {
          margin-bottom: 10px;
          font-size: 17px;
        }

        .moreText {
          color: rgb(255, 47, 110);
          cursor: pointer;
        }

        .infoMain {
          padding: 20px 30px;
          color: rgb(90, 90, 90);

          .title,
          .basicInfo {
            margin-bottom: 10px;
          }

          .detailInfo {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
