.detailFeedContainer {
  .sideInfo {
    margin-top: 30px;

    .advertise {
      border: 1px solid rgb(227, 227, 227);
      border-radius: 15px;

      .adImage {
        width: 300px;
        height: 200px;
      }

      .texts {
        padding: 10px;
        background-color: white;

        p {
          margin-bottom: 8px;
        }

        .firstText {
          font-size: 17px;
        }

        .secondText {
          font-size: 14px;
          color: rgb(120, 120, 120);
        }
      }
    }

    .linkBox {
      padding: 20px;
      margin-top: 20px;
      background-color: white;

      .title {
        margin-bottom: 20px;
        font-size: 23px;
      }

      .platform {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }

      img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
      }
    }
  }
}
