@import '../../styles/variables.scss';

.feeds {
  height: 800px;
  margin-top: 100px;

  .feedsContainer {
    max-width: 1320px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 25px;

    .feedsCategoryNameContainer {
      max-width: 100%;
      min-width: 750px;
      margin: 0 auto;
      margin-bottom: 10px;

      .feedsCategoryName {
        @include feedsFont;
      }
    }
  }
}
